.ButtonBarContainer{
    width: 100%;
    border-bottom: 2px solid #e5e5e5;
}

.ButtonBarButtonsRow{
    width: 100%;
}

.ButtonBarCenteredContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.buttonBarButton{
    padding-top: 10px;
    padding-bottom: 6px;
    cursor: pointer;
    border-bottom: 4px solid rgba(255,255,255,.0);
    width: max-content;
}

.buttonBarButton:hover{
    border-bottom: 4px solid #e9711c;
}

.btnFont{
    color: #666666;
    font-size: 18px;
    vertical-align: middle;
    font-weight: bold;
}

.btnIcon{
    height: 18px;
    vertical-align: middle;
    margin-right: 5px;
}
