#codeBox{
	border: 1px solid black;
	width: 500px;
	text-align: left;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	color: black;
	padding-top: 5px;
	padding-bottom: 5px;
}

#codeBox div {
	margin-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}
