#codeBox{
	border-right: 1px solid black;
	text-align: left;
	width: max-content;
}

.code {
		padding-top: 5px;
		padding-bottom: 5px;
}

.code div {
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	margin-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}
