.algorithmSidebar{
	width: 250px;
	min-width: 250px;
	border-left: 3px solid #cfcfcf;
	border-right: 3px solid #cfcfcf;
	padding: 10px;
}

.inputArea {
    text-align: left;
	padding-top: 20px;
	border-bottom: 3px solid #cfcfcf;
	padding-bottom: 10px;
}

.stepManagerArea{
	padding-top: 10px;
}
