.headerBar{
	width: 100%;
	min-width: 650px;
	height: 30px;
	line-height: 30px;
	background-color: #333333;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 30px;
}

.headerMargin{
	background-color: #333333;
	height: 30px;
	width: 100%;
}

.rightLinks{
	font-weight: normal;
}
