.explanationBox{
	text-align: left;
	min-width: 300px;
	flex-grow: 9999;
	flex-basis: 20%;
	background-color: #FFFFFF;
}

#explanations{
	display: grid;
	grid-template-columns: min-content auto;
	color: #9e9e9e;
	overflow: hidden;
}

.lineIconContainer{
	padding-right: 10px;
	grid-column-start: 1;
    grid-column-end: 2;
	font-size: 36px;
	text-align: right;
	font-weight: bold;
	padding-top: 2px;
}

.explanationContainer{
	grid-column-start: 2;
    grid-column-end: 3;
	padding-bottom: 12px;
}
