#explanationBox{
	border: 1px solid black;
	width: 503px;
	float: left;
	text-align: left;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	color: black;
	padding-top: 5px;
	padding-bottom: 5px;
}
