.ExpandableContainerOpened{
    -webkit-transition:height, 0.25s linear;
    -moz-transition: height, 0.25s linear;
    -ms-transition: height, 0.25s linear;
    -o-transition: height, 0.25s linear;
    transition: height, 0.25s linear;
    overflow: hidden;
}

.ExpandableContainerClosed{
    height:0px;
    -webkit-transition:height, 0.25s linear;
    -moz-transition: height, 0.25s linear;
    -ms-transition: height, 0.25s linear;
    -o-transition: height, 0.25s linear;
    transition: height, 0.25s linear;
}
