#AlgorithmContainer{
	display: grid;
	grid-template-columns: auto minmax(500px, 90%) auto;
	grid-template-rows: min-content min-content;
	width: 100%;
}

.algorithmVisualization{
	display: flex;
	flex-basis: 100%;
	flex-direction: row;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 1;
}

.bottomDescriptions{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	flex-direction: row;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
}

.algorithmSidebar{
	width: min-content;
	border: 1px solid black;
	padding: 10px;
}

.BoxTitle{
	font-size: 20px;
	border-bottom: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	display: flex;
}

.inputArea {
    text-align: left;
	padding-top: 20px;

}

.inputArea input[type="text"] {
    border: 1px solid #cfcfcf;
	border-radius: 3px;

}

.inputArea input[type="text"]:hover{
    border: 3px solid #388E3C;
}

.inputArea input[type="text"]:focus{
    border: 3px solid #388E3C;
}

.inputArea input[type=submit] {
	-webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  background: #4caf50;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.inputArea input[type=submit]:hover {
	background: #087f23;
  	text-decoration: none;
}
