#AlgorithmContainer{
	display: grid;
	grid-template-columns: auto minmax(500px, 90%) auto;
	grid-template-rows: min-content min-content;
	width: 100%;
}

.algorithmVisualization{
	display: flex;
	flex-basis: 100%;
	flex-direction: row;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 1;
}

.pageTitle{
	font-size: 36px;
	font-weight: bold;
	text-align: left;
	display: block;
}

.subtitle{
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	display: block;
}

.lightPrimary{
	color: #009688;
}

.white{
	color: #FFFFFF;
}

.bottomDescriptions{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	flex-direction: row;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
}

.algorithmSidebar{
	width: min-content;
	border-left: 3px solid #cfcfcf;
	border-right: 3px solid #cfcfcf;
	padding: 10px;
}

.BoxTitle{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	background-color: #00675b;
	color: #FFFFFF;
}

.inputArea {
    text-align: left;
	padding-top: 20px;
}

.inputArea input[type=submit] {
	-webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  background: #ff9800;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.inputArea input[type=submit]:hover {
	background: #ffc947;
  	text-decoration: none;
}
