#AlgorithmContainer{
	display: grid;
	grid-template-columns: auto minmax(500px, 90%) auto;
	grid-template-rows: min-content min-content;
	width: 100%;
}

.algorithmVisualization{
	display: flex;
	flex-basis: 100%;
	flex-direction: row;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 1;
}

.pageTitle{
	font-size: 36px;
	font-weight: bold;
	text-align: left;
	display: block;
}

.subtitle{
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	display: block;
}

.subtitleIcon{
	height: 24px;
	width: 24px;
	margin-right: 10px;
}

.lightPrimary{
	color: #009688;
}

.white{
	color: #FFFFFF;
}

.bottomDescriptions{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	flex-direction: row;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
}

.algorithmSidebar{
	width: 250px;
	min-width: 250px;
	border-left: 3px solid #cfcfcf;
	border-right: 3px solid #cfcfcf;
	padding: 10px;
}

.BoxTitle{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	background-color: #00675b;
	color: #FFFFFF;
}

.inputArea {
    text-align: left;
	padding-top: 20px;
	border-bottom: 3px solid #cfcfcf;
	padding-bottom: 10px;
}

.stepManagerArea{
	padding-top: 10px;
}

.inputField{
	margin-bottom: 10px;
}

.smallLabelText{
    font-size: 14px;
    font-weight: bold;
    color: #707070;
    letter-spacing: .5px;
}

/****************** Buttons ******************/

button, input[type=submit]{
	font-size: 18px;
	text-decoration: none;
	border-top: 0px;
	border-bottom: 2px solid #cfcfcf;
	border-left: 0px;
	border-right: 0px;
	font-family: Arial;
}

button:hover, input[type=submit]:hover{
	-webkit-box-shadow: 0px 2px 3px -2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 2px 3px -2px rgba(0,0,0,0.5);
	box-shadow: 0px 2px 3px -2px rgba(0,0,0,0.5);
}

.smallCircularBtn{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
	cursor: pointer;
	padding: 0px;
}

.smallBtn {
	-webkit-border-radius: 3;
  	-moz-border-radius: 3;
	border-radius: 3px;
	padding: 5px 10px 5px 10px;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: .5px;
}

.largeBtn {
	-webkit-border-radius: 3;
  	-moz-border-radius: 3;
	border-radius: 3px;
	padding: 10px 10px 10px 10px;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: .5px;
}

.secondaryBtn {
	color: #ffffff;
	background: #ff9800;
	text-shadow: 0px 1px 1px #000000;
}

.secondaryBtn:hover {
	background: #ffc947;
}

.primaryBtn{
    color: #ffffff;
    background: #009688;
	text-shadow: 0px 1px 1px #000000;
}

.primaryBtn:hover{
    background: #52c7b8;
}

button[disabled], button[disabled]:hover,
input[type=submit][disabled], input[type=submit][disabled]:hover{
    background: #95a5a6;
    cursor: not-allowed;
}
