.display{
    flex-grow: 1;
    position: relative;
    overflow-y: auto;
    overflow: auto;
    min-width: 300px;
    background-color: #FFFFFF;
}

.greyCover{
    width: 100%;
    height: 100%;
    background-color: #9e9e9e;
}
