.App {
    font-family: sans-serif, arial;
    font-size: 18px;
    color: #000000;

    display: grid;
    grid-template-columns: auto minmax(650px, 80%) auto;
    grid-template-rows: min-content min-content min-content;
    width: 100%;
}

body {
    background-color: #FFFFFF;
}

.content{
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
}
