.inputArea .textField {
    padding-right: 25px;
    background-repeat: no-repeat;
    background-position: right;
}

.inputErrorMsgText{
    font-size: 14px;
    color: #e74c3c;
}

.toolTipIconPositioning{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 40px;
}

.toolTipIcon_InputBox{
    height: 24px;
    width: 24px;
}
